[bumpversion]
commit = True
tag = False
current_version = 0.1.0
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+))?
serialize = 
	{major}.{minor}.{patch}-{release}
	{major}.{minor}.{patch}

[bumpversion:file:CHANGELOG]
search = <new-version>
replace = {new_version}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:src/spyce/version.py]
search = VERSION = '{current_version}'
replace = VERSION = '{new_version}'

[bumpversion:file:src/spyce/api.py]
search = SPYCE_API_VERSION = '{current_version}'
replace = SPYCE_API_VERSION = '{new_version}'
